@import "variables";
@import "navbar";
@import "profile";

div#app {
  > div.bogus2 {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    width: @inner-container-width;
    max-width: @max-container-width;

    div.index {
      width: auto;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      > div {
        flex: 1;
        width: 30%;
        min-width: 300px;
        max-width: 450px;

        div.card-content {

          div.edit {
            cursor: pointer;
          }

          div.title {
            display: flex;
            align-items: center;

            a {
              h3 {
                margin: 0 !important;
                padding: 0;
                display: flex;
                align-items: center;
                font-size: 30px !important;
              }
            }

            button {
              margin: 0;
            }

            h4 {
              margin: 0 !important;
              padding: 5px 0;
            }

            h6 {
              margin: 0 !important;
              padding: 0;
              padding-bottom: 5px;
            }
          }
        }
      }
    }
  }
  footer {
    text-align: center;
    margin: auto;
    padding: 15px;
  }
}

div.v-input {
  padding: 10px;
  margin: 0;
  border-radius: 5px;

  div.v-input__slot::before {
    border: none;
  }

  div.v-input__slot {
    input {
      margin: 0;
      border: none;
      box-shadow: none;
    }
  }
}

div.card.add-list {
  width: 50%;
  min-width: 500px;
  margin: 0 auto;
  margin-top: 50px;

  form {
    div.field {
      span {
        display: flex;
        align-items: center;
      }

      div.quantity {
        display: flex;
        align-items: center;
      }

      input[name="add-quantity"] {
        width: 50px;
        text-align: center;
        margin: 0;
      }

      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[name="item"] {
        margin-left: 10px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  div.navbar {
    div.nav-wrapper {
      a.brand-logo {
        transform: none;
        left: 0;
      }
    }
  }
}
